.featuredprojects{
    padding: 0px 120px;
}
.featuredprojects h2{
    padding: 30px 0px;
}
.fimgtext{
    padding: 60px 0px;
    display: flex;
    gap: 50px;
} 
.fimgtext p{
    padding: 40px 0px;
}
.pimages #st2{
   position: relative;
   right: 20px;
}
.pimages #st3{
    position: relative;
    right: 40px;
}
 .pimages #st3{
    position: relative;
    right: 50px;
}
.pimages #st4{
    position: relative;
    right: 70px;
}

.creators{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.creators p{
    position: relative;
    right: 50px;
}
.mh1, #mcircle{
    display: none;
}
@media screen and (max-width: 700px) {
    .featuredprojects{
        padding: 30px 20px;
    }
    .fimgtext{
        display: flex;
        gap: 10px;
        flex-direction: column;
    } 
    .fimg img{
        width: 100%;
    }
    #rev{
        flex-direction: column-reverse;
    }
    #circle, .ftext h1 {
       display: none;
    }
    .fimgtext p{
        padding: 0px 0px;
    }
    .creators {
        padding-top: 20px;
    }
    .mh1{
        color: white;
        position: relative;
        top: -170px;
        text-align: center;
    }
    #mcircle{
        position: relative;
        width: auto;
        float: right;
        top: -150px;
        right: 20px;
    }
}