@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
.upcomingauction {
  background: linear-gradient(
    99.99deg,
    #4693ed -26.21%,
    #79c2d2 22.16%,
    rgba(192, 86, 9, 0.49) 111.62%
  );
  padding: 0px 120px;
  position: relative;
}
.upcomingauction h1 {
  color: white;
  padding: 10px 0px;
}
.bgtext {
  position: absolute;
  bottom: 15%;
  left: 20%;
  color: white;
  font-family: "Bellefair", serif;
}
#index {
  position: absolute;
  bottom: 20%;
  left: 12%;
  font-size: 7vw;
  color: white;
}
.bgtext li {
  font-size: 3.5vw;
  width: 50%;
}
.bgtext P,
.xclus P {
  font-size: 1vw;
}
#bg {
  width: 100%;
}
#mbg {
  display: none;
}
.ptext {
  display: flex;
  gap: 10%;
}
.ptextseg {
  display: flex;
  gap: 9%;
  flex: 1;
}
.xclus {
  flex: 1;
}

.ptextseg a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid white;
  align-self: flex-end;
}
.ptextseg button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
}
@media screen and (max-width: 700px) {
  .upcomingauction {
    padding: 30px;
  }
  .upcomingauction img {
    width: 100%;
  }
  #mbg {
    display: block;
    width: 100%;
  }
  #bg {
    display: none;
  }
  .bgtext li {
    width: 100%;
    font-size: inherit;
  }
  .bgtext {
    top: 15%;
  }
  .ptext {
    display: block;
  }
  .upcomingauction h1 {
    display: none;
  }
  .bgtext P,
  .xclus P {
    font-size: 3vw;
    width: 85%;
  }
  .ptextseg {
    justify-content: flex-end;
    width: 85%;
    align-items: center;
  }
  .ptextseg {
    align-self: center;
  }
  #index {
    top: 23%;
  }
  .xclus {
    padding-bottom: 20px;
  }
}
